{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block footer %}

<script src="/js/hideShowPassword.min.js"></script> <!-- 3rd party jquery plugin that renders show/hide password -->
<script src="/js/app.js"></script> <!-- password validation using jquery  -->

<script>
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formSignup').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validateemail' 
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    },
                },
                messages: { // sets custom messages
                    email: {
                        remote: 'email already taken' // custom message for the email verification
                    }
                }
            });
            $('#inputPassword').hideShowPassword({ // renders show/hide password using 3rd party jquery plugin
                show: false,
                innerToggle: 'focus'
            });
        });
</script>
{% endblock %}

{% block body %}

<h1>Sign up</h1>

<!-- checks for errors in what is to be sent to backend and displays them -->
{% if user.errors is not empty %}
    <p>Errors:</p>
    <ul>{% for error in user.errors %}
        <li>{{error}}</li>
    {% endfor %}
    </ul>
{% endif %}    


<form method="POST" action="/signup/create" id="formSignup">
    <div class="form-group">
        <label for="inputName">Name</label> <!-- in value property we reuse twig value of assoc. array sent to backend so that the user doesn't have to retype name or email -->
                <input id="inputName" name='name' placeholder="Name" autofocus value="{{ user.name }}" required class="form-control"/>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email Address</label>
                <input id="inputEmail" name='email' placeholder="email address" autofocus value="{{ user.email }}" required type="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" name='password' placeholder="Password" autofocus required class="form-control" />
                <!-- pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" title="Minimum 6 chars, at least one letter and number" /> -->
                <!-- pattern attribute validation (which is unreliable, so it is commented out) we can use regex (this one checks for 6 chars and for at least 1 letter and 1 digit -->
                <!-- title attribute displays the message if the validation has not passed -->
    </div>

    <button type="submit" class="btn btn-primary">Sign up</button>
</form>

{% endblock %}