{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block footer %}

<script src="/js/hideShowPassword.min.js"></script> <!-- downloaded jquery plugin that makes a checkbox for showing/hiding password -->
<script src="/js/app.js"></script> <!-- validating password using jquery -->

<script>
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formPassword').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                }
            });
            $('#inputPassword').hideShowPassword({ // password showing/hiding checkbox (uses previously loaded jquery script)
                show: false,
                innerToggle: 'focus'
            });
        });
</script>
{% endblock %}

{% block body %}

<h1>Reset password</h1>

<!-- checks if the erros were passed and prints them if thay exist -->
{% if user.errors is not empty %}
    <p>Errors:</p>
    <ul>{% for error in user.errors %}
        <li>{{error}}</li>
    {% endfor %}
    </ul>
{% endif %}    


<form method="POST" id="formPassword" action="/password/reset-password">
    <!-- next line is an input (invisible to user) used only to accept a value passed by twig and forward it using <form> to url given in action property for the purpose of changing a password -->
    <input type="hidden" name="token" value="{{ token }}" /> 
    <div class="form-group">
        <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control" name='password' placeholder="Password" autofocus required />
    </div>

    <button type="submit" class="btn btn-outline-dark">Reset password</button>
</form>

{% endblock %}